<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HomeResponsable</display-name>
    <servlet-name>HomeResponsable</servlet-name>
    <servlet-class>master.servlets.HomeResponsable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeResponsable</servlet-name>
    <url-pattern>/HomeResponsable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponsableAddMaster</display-name>
    <servlet-name>ResponsableAddMaster</servlet-name>
    <servlet-class>master.servlets.ResponsableAddMaster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponsableAddMaster</servlet-name>
    <url-pattern>/ResponsableAddMaster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponsableMasterInformation</display-name>
    <servlet-name>ResponsableMasterInformation</servlet-name>
    <servlet-class>master.servlets.ResponsableMasterInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponsableMasterInformation</servlet-name>
    <url-pattern>/ResponsableMasterInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoEtudiantListe</display-name>
    <servlet-name>RespoEtudiantListe</servlet-name>
    <servlet-class>master.servlets.RespoEtudiantListe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoEtudiantListe</servlet-name>
    <url-pattern>/RespoEtudiantListe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoDeleteMaster</display-name>
    <servlet-name>RespoDeleteMaster</servlet-name>
    <servlet-class>master.servlets.RespoDeleteMaster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoDeleteMaster</servlet-name>
    <url-pattern>/RespoDeleteMaster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoMasteriframe</display-name>
    <servlet-name>RespoMasteriframe</servlet-name>
    <servlet-class>master.servlets.RespoMasteriframe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoMasteriframe</servlet-name>
    <url-pattern>/RespoMasteriframe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoHeader</display-name>
    <servlet-name>RespoHeader</servlet-name>
    <servlet-class>master.servlets.RespoHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoHeader</servlet-name>
    <url-pattern>/RespoHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponsableLogout</display-name>
    <servlet-name>ResponsableLogout</servlet-name>
    <servlet-class>master.servlets.ResponsableLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponsableLogout</servlet-name>
    <url-pattern>/ResponsableLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponsableProfile</display-name>
    <servlet-name>ResponsableProfile</servlet-name>
    <servlet-class>master.servlets.ResponsableProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponsableProfile</servlet-name>
    <url-pattern>/ResponsableProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoChangePassword</display-name>
    <servlet-name>RespoChangePassword</servlet-name>
    <servlet-class>master.servlets.RespoChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoChangePassword</servlet-name>
    <url-pattern>/RespoChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmationCode</display-name>
    <servlet-name>ConfirmationCode</servlet-name>
    <servlet-class>master.servlets.ConfirmationCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmationCode</servlet-name>
    <url-pattern>/ConfirmationCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassWord</display-name>
    <servlet-name>ChangePassWord</servlet-name>
    <servlet-class>master.servlets.ChangePassWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassWord</servlet-name>
    <url-pattern>/ChangePassWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendConfirmationCodeEmail</display-name>
    <servlet-name>SendConfirmationCodeEmail</servlet-name>
    <servlet-class>master.servlets.SendConfirmationCodeEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendConfirmationCodeEmail</servlet-name>
    <url-pattern>/SendConfirmationCodeEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileSer</display-name>
    <servlet-name>ProfileSer</servlet-name>
    <servlet-class>master.servlets.ProfileSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileSer</servlet-name>
    <url-pattern>/ProfileSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>master.servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoLoadEtudiantProfile</display-name>
    <servlet-name>RespoLoadEtudiantProfile</servlet-name>
    <servlet-class>master.servlets.RespoLoadEtudiantProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoLoadEtudiantProfile</servlet-name>
    <url-pattern>/RespoLoadEtudiantProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoAdmission</display-name>
    <servlet-name>RespoAdmission</servlet-name>
    <servlet-class>master.servlets.RespoAdmission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoAdmission</servlet-name>
    <url-pattern>/RespoAdmission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoScoreInsert</display-name>
    <servlet-name>RespoScoreInsert</servlet-name>
    <servlet-class>master.servlets.RespoScoreInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoScoreInsert</servlet-name>
    <url-pattern>/RespoScoreInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoListControler</display-name>
    <servlet-name>RespoListControler</servlet-name>
    <servlet-class>master.servlets.RespoListControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoListControler</servlet-name>
    <url-pattern>/RespoListControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EtudeDossier</display-name>
    <servlet-name>EtudeDossier</servlet-name>
    <servlet-class>master.servlets.EtudeDossier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtudeDossier</servlet-name>
    <url-pattern>/EtudeDossier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoConcours</display-name>
    <servlet-name>RespoConcours</servlet-name>
    <servlet-class>master.servlets.RespoConcours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoConcours</servlet-name>
    <url-pattern>/RespoConcours</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespoGestionListeFA</display-name>
    <servlet-name>RespoGestionListeFA</servlet-name>
    <servlet-class>master.servlets.RespoGestionListeFA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespoGestionListeFA</servlet-name>
    <url-pattern>/RespoGestionListeFA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listes</display-name>
    <servlet-name>Listes</servlet-name>
    <servlet-class>master.servlets.Listes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listes</servlet-name>
    <url-pattern>/Listes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublierResultat</display-name>
    <servlet-name>PublierResultat</servlet-name>
    <servlet-class>master.servlets.PublierResultat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublierResultat</servlet-name>
    <url-pattern>/PublierResultat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreselectionTmp</display-name>
    <servlet-name>PreselectionTmp</servlet-name>
    <servlet-class>master.servlets.PreselectionTmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreselectionTmp</servlet-name>
    <url-pattern>/PreselectionTmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublierFA</display-name>
    <servlet-name>PublierFA</servlet-name>
    <servlet-class>master.servlets.PublierFA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublierFA</servlet-name>
    <url-pattern>/PublierFA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraitementFA</display-name>
    <servlet-name>TraitementFA</servlet-name>
    <servlet-class>master.servlets.TraitementFA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraitementFA</servlet-name>
    <url-pattern>/TraitementFA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublierConvoque</display-name>
    <servlet-name>PublierConvoque</servlet-name>
    <servlet-class>master.servlets.PublierConvoque</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublierConvoque</servlet-name>
    <url-pattern>/PublierConvoque</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicationResultats</display-name>
    <servlet-name>PublicationResultats</servlet-name>
    <servlet-class>master.servlets.PublicationResultats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicationResultats</servlet-name>
    <url-pattern>/PublicationResultats</url-pattern>
  </servlet-mapping>
</web-app>