@charset "UTF-8";
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding:0;
        }


        .container {
		    padding: 20px;
		    border-radius: 8px;
		    min-width: 300px;
	        margin-left: 267px;
    		margin-right: 26px;
    		margin-bottom: 70px;
    		
        }

        .table-container span {
		    display: flex;
		    font-size: 1.2em;
		    margin-bottom: 10px;
		    font-weight: bold;
		    color: #333;
		    justify-content: center;
        }

        .styled-table {
            width: 100%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th, .styled-table td {
            padding: 12px 15px;
            border-bottom: 1px solid #dddddd;
			font-family: system-ui;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:hover {
            background-color: #f1f1f1;
        }

        .styled-input {
            width: 60px;
            height: 100%;
            box-sizing: border-box;
            padding: 8px;
            border: 2px solid #ccc;
            border-radius: 5px;
        }
		
		.Back-btn {
		margin: 5px;
        display: inline-block;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #3498db; /* Blue background */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    	}
    	.entete{
			display: flex;
		    flex-wrap: nowrap;
		    justify-content: space-between;
    	}
		.logo{
			height: 90px;
		}
		.uni-fac{
			font-family: sans-serif;
       		display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    align-items: center;
		    flex-direction: column;
		}
		.date{
			display: flex;
		    flex-direction: column;
		    justify-content: flex-start;
		    flex-wrap: wrap;
		    align-content: flex-end;
		    font-size: 16px;
		    align-items: flex-end;
		    font-family: system-ui;
		}
		.subtitle{
			    margin-top: 23px;
			    font-family: 'system-ui';
			    font-size:19px;
		}
		.title{
		    font-family: 'system-ui';
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    align-items: center;
		    flex-direction: column;
		    margin-top: 47px;
		    font-size:30px;
		}
		.footer{
			display: flex;
		    justify-content: space-between;
		    font-size: smaller;
		    font-family: system-ui;
		    margin-top: 90px;
		}

 		
 		.side-bar {
	        width: 200px;
		    background-color: #476e63;
		    padding: 20px;
		    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
		    position: fixed;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		}
  

        .main-btn {
        	width:100%;
	        display: inline-block;
	        padding: 10px 20px;
	        font-size: 14px;
	        font-weight: bold;
	        text-transform: uppercase;
	        color: #ffffff;
	        background-color: #007bff; 
	        border: none;
	        border-radius: 5px;
	        cursor: pointer;
	        transition: background-color 0.3s ease, transform 0.3s ease;
	        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	        margin-top:15px;
    	} 
	    .main-btn:hover {
	        background-color: #0697f8; 
	        transform: translateY(-2px); 
	    }
	
	    .main-btn:focus {
	        outline: none;
	        box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5); 
	    }
	
	    .main-btn:active {
	        transform: translateY(0); 
	        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	    }

	    .side-bar-top{
	    	    display: flex;
    		flex-direction: column;
	    }
	    textarea{
	       margin-top: 12px;
		    min-width: 93%;
		    max-width: 185px;
		    min-height: 164px;
		    max-height: 164px;
		    font-family: system-ui;
		    font-size: large;
		    padding: 7px;
		    border-radius: 9px;
		    
	    }
	    .lbl{
		    font-size: 17px;
		    font-weight: 600;
		    color: aliceblue;
		    font-family: system-ui;
		    padding: 5px;
		    border-radius: 4px;
		    margin-top: 15px;
	    }
	    .container-pdf {
	        margin: 0; 
	        padding: 20px;
	        border-radius: 8px;
	        min-width: 300px;
    	}